:root {
  /* Fonts */
  --primery-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;

  /* Color */
  --main-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --color-white: #ffffff;
  --footer-txt-cl: #e7e9fc;
  --dark-bg-cl: #2e2f42;
  --light-bg-cl: #f4f4fd;
  --btn-bg-cl: #4d5ae5;
  --accent-txt-cl: #404bbf;
  --accent-bg-cl: #404bbf;
  /* Others */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  background-color: var(--color-white);
}
/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-bg-cl);
}
.logo-color {
  color: var(--dark-bg-cl);
}
.logo-footer {
  color: var(--light-bg-cl);
}

/* Base styles */
.section {
}
.list {
  list-style: none;
  color: inherit;
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* reset start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-white);
}

.uppertitle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-txt-cl);
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
}

.headline {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--color-white);

  background-color: var(--btn-bg-cl);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--color-white);

  background-color: var(--accent-bg-cl);
}
.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
.light-txt {
  color: var(--footer-txt-cl);
}

/* Header styles */
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/* Hero styles */
.hero {
  background-color: var(--dark-bg-cl);
}

/* Feature styles */

/* Presentation styles  */

/* Team styles */
.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--dark-bg-cl);
}
.light-bg {
  background-color: var(--light-bg-cl);
}
.team-bg {
  background-color: #ffffff;
}

/* Footer styles */
.footer {
  background-color: var(--dark-bg-cl);
}
